<div class="width-100">
<h2>Kjøp Bilforsikring</h2>

    <div class="info-text">
        Det er fire forskjellige forsikringer å velge mellom.
        Ansvarsforsikring er lovpålagt om kjøretøyet er registrert og skal
        brukes på veien. I tillegg kan du utvide forsikringen avhengig av
        hvor gammel bilen din er og hvordan du bruker den.
    </div>

    <div class="form-group col-12 clearfix">
        <label for="licenseplate"><strong>Bilens registreringsnummer</strong></label>
        <input id="licenseplate" class="form-control" [(ngModel)]="licensePlate" #licenseplate="ngModel" [required]="'true'" placeholder="E.g AB 12345" pattern="^([A-Z]{2}\s{1}[1-9]{1}[0-9]{4})$">

        <small class="invalid-text" *ngIf="licenseplate?.touched && licenseplate?.invalid">
            Bilens registreringsnummer er ikke gyldig
        </small>
    </div>

    <div class="form-group col-12 clearfix">
        <label for="bonus-select"><strong>Din bonus</strong></label>
        <select class="form-control form-select form-select-lg" id="bonus-select" [(ngModel)]="selectedBonus">
            <option *ngFor="let bonus of bonusValues" [value]="bonus">{{ bonus.name}}</option>
        </select>

<!--            <ng-option *ngFor="let bonus of bonusValues" [value]="bonus">{{bonus.name}}</ng-option>-->
<!--        <small class="invalid-text" *ngIf="licenseplate?.touched && licenseplate?.invalid">-->
<!--            Bilens registreringsnummer er ikke gyldig-->
<!--        </small>-->
    </div>
</div>
